.about#about
    .container.about__container
        .about__content
            span.subtitle.about__subtitle about us
            h2.title.about__title Daily workout and stay active at home
            p.about__text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus quae inventore molestiae accusamus facere ducimus, magni quidem cumque debitis sed beatae totam, culpa dolore voluptatum incidunt hic quia, mollitia fugit?
            ul.about__list
                li.about__item How to support your immume system
                li.about__item A guide to 30 day fitness & workout challenges
                li.about__item Guide to ease your back in the gym
                li.about__item The mental health benefits of exercise in home
                
        picture.about__image
            source(srcset="./../../images/about-img.webp", type="image/webp")
            source(srcset="./../../images/about-img.avif", type="image/avif")
            img(src="./../../images/about-img.png", alt="Мужчина поднимает штангу")