.counter
    .container.counter__container
        .counter__item
            span.counter__num 40+
            p.counter__text Online Courses
        .counter__item
            span.counter__num 320+
            p.counter__text Gym Equipments
        .counter__item
            span.counter__num 180+
            p.counter__text Online Instructors
        .counter__item
            span.counter__num 560+
            p.counter__text Satiesfied Clients