.intro#home
    .container.intro__container
        picture.intro__image
            source(srcset="./../../images/home-img.webp", type="image/webp")
            source(srcset="./../../images/home-img.avif", type="image/avif")
            img(src="./../../images/home-img.png", alt="Мужчина поднимает штангу")
        .intro__content
            p.intro__subtitle back to the gym
            h1.intro__title Start Your Fitness Journey Today
            button(type="button", aria-label="Узнать подросности").btn.intro__btn Get start