// colors
:root {
  //font
  --font-family: 'Smooch Sans', sans-serif;

  // colors
  --white: #fff;
  --black: #000;
  --red: #dc3545;
  --grey: #ccc;
  --light-color: #ff5421;
  --bg-color: #1d0e15;
}
